# ================= ROOT =================
node_modules/
package-lock.json

# ================= BACKEND =================
backend/__pycache__/
backend/database.db
backend/venv/

# ================= FRONTEND =================
frontend/node_modules/
frontend/dist/

# ================= GLOBAL =================
*.pyc
.env